body,
html,
* {
  margin: 0;
  padding: 0;
}

/* Start Navbar Styling */
#navbar {
  background: #555555;
  width: 100%;
  height: 80px;
  box-shadow: 0px 5px 10px #2a2a2a;
  position: fixed;
  z-index: 1000;
}

a.nav-link {
  float: left;
  padding: 20px 80px;
}

.menu #top-menu {
  padding-top: 25px;
  height: 30px;
  float: right;
  margin-right: 50px;
}

.menu #top-menu li:hover a {
  color: #9f9f9f;
  /* font-weight: bolder; */
  font-size: 20px;
}

.menu #top-menu li.active {
  background: #2c2c2c;
}

.menu #top-menu li {
  display: inline;
  padding: 30px 25px;
  text-decoration: none;
  list-style-type: none;
}

.menu #top-menu li a {
  text-decoration: none;
  /* font-weight: bold; */
  font-size: 20px;
  color: white;
}

#navbar a#burger-icon {
  display: none;
}
/* End Navbar Styling */

/* Start Content Styling */

#page-content {
  padding-top: 100px;
}

/* End Content Styling */

#home {
  text-align: center;
  margin-top: 25px;
  height: 80%;
}

#page-content-about {
  padding-top: 125px;
  background: turquoise;
  height: 100%;
}

#about {
  text-align: center;
  margin-top: 25px;
  background: white;
  height: 80%;
  width: 90%;
  margin-left: 5%;

  -webkit-box-shadow: 5px 5px 24px 1px rgba(129, 129, 129, 1);
  -moz-box-shadow: 5px 5px 24px 1px rgba(129, 129, 129, 1);
  box-shadow: 5px 5px 24px 1px rgba(129, 129, 129, 1);

  border-radius: 30px;
}

/* content */
.row .input-upload {
  margin: auto;
}

.row .btn-upload {
  /* padding-top: 20px; */
  margin: auto;
}

.custom-file .container {
  margin-top: 100px;
}
.custom-file .container .row {
  margin: auto;
}

/* about.html */
#about-title {
  padding-top: 50px;
}

.container {
  width: 100%;
}

.watashi-no-photo {
}

.watashi-no-speech {
  text-align: justify;
  padding-left: 100px;
}

.real-content {
  margin: 50px;
}
